#ccmRoot,
#ccmRoot *,
#ccmRoot *:before,
#ccmRoot *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#ccmRoot {
  color: #1A202C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ccmHidden {
  display: none !important;
}

.ccmModalOpen {
  height: 100vh !important;
  overflow: hidden !important;
}

#ccmRoot .ccmButton {
  background-color: #718096;
  border: 0 none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 4px 12px;
}

#ccmRoot .ccmButton:hover {
  background-color: #A0AEC0;
}

#ccmRoot .ccmButtonPrimary {
  background-color: #48BB78;
}

#ccmRoot .ccmButtonPrimary:hover {
  background-color: #68D391;
}

#ccmRoot .ccmButtonLink {
  background: none;
  box-shadow: none;
  color: #4299E1;
  font-weight: normal;
  line-height: 1.5;
  outline: none;
  padding: 0;
  text-decoration: underline;
}

#ccmRoot .ccmButtonLink:hover {
  background: none;
  color: #4299E1;
  text-decoration: none;
}

#ccmRoot .ccmSwitch {
  align-items: center;
  display: inline-flex;
  vertical-align: top;
}

#ccmRoot .ccmSwitchCheckbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#ccmRoot .ccmSwitchToggle {
  cursor: pointer;
  position: relative;
}

#ccmRoot .ccmSwitchCheckbox:disabled:checked + .ccmSwitchToggle {
  cursor: not-allowed;
  opacity: 0.5;
}

#ccmRoot .ccmSwitchToggle:before {
  background-color: #718096;
  border-radius: 9999px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  content: '';
  display: block;
  height: 24px;
  transition: background-color 0.25s ease-in;
  width: 48px;
}

#ccmRoot .ccmSwitchCheckbox:checked + .ccmSwitchToggle:before {
  background-color: #48BB78;
}

#ccmRoot .ccmSwitchToggle:after {
  background-color: #fff;
  border-radius: 9999px;
  content: '';
  display: block;
  height: 22px;
  margin: 1px;
  position: absolute;
  right: 50%;
  transition: right 0.25s ease-in;
  top: 0;
  width: 22px;
}

#ccmRoot .ccmSwitchCheckbox:checked + .ccmSwitchToggle:after {
  right: 0;
}

#ccmRoot .ccmTable {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  width: 100%;
}

#ccmRoot .ccmTable th {
  background-color: #F7FAFC;
  border-bottom: 2px solid #EDF2F7;
  font-weight: bold;
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
  width: 33.33333333%;
}

#ccmRoot .ccmTable td {
  background-color: #F7FAFC;
  border-bottom: 2px solid #EDF2F7;
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
}

#ccmRoot #ccmBanner {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  left: 0;
  padding: 24px;
  position: fixed;
  width: 100%;
  z-index: 10010;
}

#ccmRoot #ccmBannerContainer {
  margin: 0 auto;
  max-width: 1200px;
}

#ccmRoot #ccmBannerTitle {
  font-weight: bold;
  margin-bottom: 8px;
}

#ccmRoot #ccmBannerText {
  font-size: 14px;
  margin-bottom: 12px;
}

#ccmRoot #ccmBannerActions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

#ccmRoot .ccmBannerActionsItem {
  width: 100%;
}

@media screen and (min-width: 480px) {
  #ccmRoot .ccmBannerActionsItem {
    width: auto;
  }
}

#ccmRoot #ccmBannerSettings {
  margin-top: 12px;
}

@media screen and (min-width: 480px) {
  #ccmRoot #ccmBannerSettings {
    margin-left: 24px;
    margin-top: 0;
  }
}

#ccmRoot #ccmBannerModal,
#ccmRoot #ccmModal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  z-index: 10020;
  -webkit-overflow-scrolling: touch;
}

#ccmRoot #ccmBannerModalContainer,
#ccmRoot #ccmModalContainer {
  margin: auto;
  max-width: 1024px;
  padding: 12px;
  width: 100%;
}

#ccmRoot #ccmBannerModalContainer {
  max-width: 512px;
}

#ccmRoot #ccmBannerModalContent,
#ccmRoot #ccmModalContent {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 12px 24px;
}

#ccmRoot #ccmBannerModalActions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

#ccmRoot .ccmBannerModalActionsItem {
  width: 100%;
}

@media screen and (min-width: 480px) {
  #ccmRoot .ccmBannerModalActionsItem {
    width: auto;
  }
}

#ccmRoot #ccmBannerModalHeader,
#ccmRoot #ccmModalHeader {
  background-color: #fff;
  display: flex;
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 10021;
}

#ccmRoot #ccmBannerModalTitle,
#ccmRoot #ccmModalTitle {
  font-weight: bold;
}

#ccmRoot #ccmBannerModalText {
  font-size: 14px;
}

#ccmRoot #ccmModalClose {
  margin-left: auto;
}

#ccmRoot .ccmModalSection {
  background-color: #EDF2F7;
  border-radius: 4px;
  padding: 12px;
}

#ccmRoot .ccmModalSection + .ccmModalSection {
  margin-top: 12px;
}

#ccmRoot .ccmModalSectionHeader {
  display: flex;
  margin-bottom: 8px;
}

#ccmRoot .ccmModalSectionHeaderActions {
  margin-left: auto;
}

#ccmRoot .ccmModalSectionTitle {
  font-weight: bold;
}

#ccmRoot .ccmModalSectionText {
  font-size: 14px;
  margin-bottom: 8px;
}

#ccmRoot .ccmModalSectionInfo * {
  margin-top: 8px;
}

#ccmRoot #ccmBannerModalFooter,
#ccmRoot #ccmModalFooter {
  background-color: #fff;
  bottom: 0;
  padding: 12px 0;
  position: sticky;
  z-index: 10021;
}